<h2 id='title'>Welcome to Slot Machine Bingo</h2>

<a class="btn btn-primary" {{ action newGameClick }}>New Game</a>

<h3>Spins: {{ spins }}</h3>

<h3>Score: {{ score }}</h3>

<div class="container">
{{#each row in cells }}
  <div class="row">
    {{#each cell in row }}
    <div {{bind-attr class=":col-md-1 :cell cell.isCovered"}}class="col-md-1 cell" {{ action cellClick cell}}>{{ cell.value }}</div>
    {{/each}}
  </div>
{{/each}}


  <div class="row spinner-row">
    {{#each cell in spinner}}
    <div {{bind-attr class=":col-md-1 :spinner-col cell.icon"}}>{{ cell.value }}</div>
    {{/each}}
  </div>

  <div class="row">
    <div class="col-md-6">
      <a class="btn btn-primary" {{ action spinClick }}>Spin</a>
    </div>
  </div>
</div>
